.custom-class {
    position: relative;
    width: 240px
}

.custom-class .blanket {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

.custom-class .menu {
    background-color: white;
    border-radius: 4;
    box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
    margin-top: 8;
    position: absolute;
    z-index: 2;
}

.custom-class div.option {
    padding: 5px;
}

.custom-class span.flag-icon {
    display: block;
    float: left;
}

.custom-class div.option > div {
    float: left;
    width: 90%;
    padding: 0 0 0 5px;
}